.root {
    width: 400px;
    padding: 50px;
    border: 1px solid #dedede;
    margin: 50px auto;
  }
  
  .field {
    margin-bottom: 20px !important;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 300px
  }
  
  .title {
    text-align: center !important;
    font-weight: bold !important;
    margin-bottom: 30px !important;
  }
  