.form {
    margin: 10px auto 30px;
    align-items: center;
    text-align: center;
    
}
.form div {
    border:rgba(66, 67, 72, 0.8) solid 1px;
    width:  fit-content;
    margin: 0 auto;
    padding: 5px;
    border-radius: 5px;
}

.form input {
    padding: 5px 10px;
    border: none;
    outline: none;
    transition: border-color .4 ease;
    border: 1px solid transparent;
    border-radius: 5px;
}

.form input:focus {
    border-color: blue;
}

.form button {
    padding: 5px 10px;
    border: none;
    outline: none;
    transition: border-color 0.4s ease;
    border: 1px solid transparent;
    background-color: white;
    border-radius: 5px;
}

.form button:hover {
    border-color: blue;
}
.form select {
    border: 1px solid transparent;
    padding: 3px 10px;
    outline: none;
    font-size: 14px;
    line-height: 18px;
    color: rgba(66, 67, 72, 0.8);
    cursor: pointer;
    border-radius: 5px;
}
.form select:hover {
    border-color: blue;
    transition: border-color 0.4s ease;
}

